# Brazilian Real State: Best Renting Locations in São Paulo

### Case description

#### A Real State company called "Rich Buildings" wishes to buy a property in São Paulo City, Brazil, to rent/sell it for a high price to the senior audience.

The company hires you as a freelancer data science and in a requirements meeting they set up their expectations:

1) Find out what neighborhoods have the best cost benefit for square meters (top 5).

2) For each one of those top 5 neighborhoods, find out: The most frequent top 5 venues.

3) Group similar neighborhoods based on the venues nearby.

Your goal is to provide the company the insights they need to help making the decision: Which neighborhood is the best choice for buying a property based on the targeted audience?

### Dataset

#### Apartment Prices by Felipecabueno - Kaggle: https://www.kaggle.com/felipecabueno/apartment-prices-in-sao-paulo-br-2020

##### This dataset cointains 7 columns regarding the attributes of the apartments located in the city of São Paulo, Brazil. The attributes are:

Neighborhood, Square Meters, Number of Bedrooms, Number of Bathrooms, Suites, Parking Spaces and Final Price.



The dataset will be used to perform the following anaylsis:

1) Price estimation based on coordinates (regression).

2) Find out the highest square_meters/price ratio and order top n descending (initial n = 10).

3) Clustering of the apartments' features to see if there is any hidden pattern (exploratory analysis/maybe cluster the square_meters/price ratio).

4) Clustering of the nearby venues. This will give the stakeholders the insights for what type of neighborhood is the one in question.

### Part 1: Dataset reading and pre-processing data

In [12]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("apartments_sp.csv")

In [4]:
df.head()

,neighborhood,square_meters,bedrooms,bathrooms,suites,parking_spaces,final_price
0,bras,57,2,1,0,1,385.185
1,santa cecilia,430,4,3,0,5,3200.000
2,bras,57,2,1,0,1,410.000
3,santa cecilia,250,4,3,0,2,1200.000
4,consolacao,177,3,3,0,1,1390.000

In [5]:
df.describe()

,square_meters,bedrooms,bathrooms,suites,parking_spaces,final_price
count,15703.000000,15703.000000,15703.000000,15703.000000,15703.000000,15703.000000
mean,128.062345,2.860664,2.467045,0.763357,1.844870,995.773735
std,93.374991,0.783342,1.266961,1.069804,1.014796,858.878453
min,23.000000,1.000000,1.000000,0.000000,1.000000,100.000000
25%,65.000000,2.000000,2.000000,0.000000,1.000000,430.000000
50%,96.000000,3.000000,2.000000,0.000000,2.000000,745.000000
75%,160.000000,3.000000,3.000000,1.000000,2.000000,1272.000000
max,864.000000,8.000000,10.000000,8.000000,10.000000,11000.000000

In [9]:
df['neighborhood'].unique().size

680

In [11]:
import geocoder # import geocoder
from time import sleep

#initialize your variable to None
lat_lng_coords = None
latlng_list = []

postal_codes = ['01000-xxx']
postal_codes = ['bras', 'santa cecilia']


#loop until you get the coordinates
for postal_code in postal_codes:
    sleep(1)
    print(postal_code)
    while(lat_lng_coords is None):
        print("Entrou no loop Geocoder")
        g = geocoder.arcgis('{}, São Paulo, São Paulo'.format(postal_code))
        lat_lng_coords = g.latlng
        print("lat_lng_coords = ", lat_lng_coords)
        sleep(1)
    latlng_list.append(lat_lng_coords)
    print(lat_lng_coords)
    #latitude = lat_lng_coords[0]
    #longitude = lat_lng_coords[1]
    lat_lng_coords = None
print(latlng_list)

bras
Entrou no loop Geocoder
lat_lng_coords =  [-23.542769999999962, -46.61999999999995]
[-23.542769999999962, -46.61999999999995]
santa cecilia
Entrou no loop Geocoder
lat_lng_coords =  [-23.535919999999976, -46.657749999999965]
[-23.535919999999976, -46.657749999999965]
[[-23.542769999999962, -46.61999999999995], [-23.535919999999976, -46.657749999999965]]